h2 {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 700;
}

.modal-dialog {
    max-width: 700px;
}

.modal-details {
    background-color: #fff;
    margin: 0px 0px;
    border: 1px solid #f0f0f0;
    border-radius: 0.25rem;
    padding: 13px 0;
}
.pop-btn {
    margin-top: 15px;
}

.card-body {
    padding: 12px;
}

.pop-btn a {
    padding: 6px 15px;
    background: green;
    color: #fff;
    border-radius: 5px;
}
.pop-btn a:hover {
    color: #fff !important;
}
